*{
    margin: 0px;
}

header{
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

header img{
    width: 8%;
    border-radius: 25px;
    margin:20px
}

.search-bar{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
}




nav{
    background-color: greenyellow;
    flex-basis: 100%;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

nav li{
    margin: 7px;
    list-style: none;
}

footer{
    background-color:wheat;
}

.area-izquierda img{
    width: 8%;
    border-radius: 25px;
    margin: 20px;
}

.area-centro img{
    width: 8%;
}

.area-derecha iframe{
    width: 20%;
    height: 20%;
    
}

.area-derecha {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end
}

.categoria-contendedor{
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    justify-content: center;
    padding-left: 250px;
    padding-right: 250px;
}

.tarjeta-1 > *{
    margin: 20px;
}

.tarjeta-1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    
    width: 15%;
    border: 3px solid black; border-radius: 10px; 
    margin: 20px;
    background-color: darkgreen;

}

.tarjeta-1 img{
    display: flex;
    flex-wrap: wrap;

    border-radius: 10px;
    width: 75%;
}


.contenedor-2{
    display: flex;
    flex-wrap: wrap;
    background-color:tomato;
    justify-content: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: px;
}











